################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/D2DCloneStatus/FileContentIndex/040b7e9a-f421-4303-9ce1-82694fd56935.vsidx
/.vs/D2DCloneStatus/FileContentIndex/cc870a07-86fe-4f05-a5c5-96bcfc43fa9c.vsidx
/.vs/D2DCloneStatus/FileContentIndex/d8bf5325-7c9a-4d81-9d8d-e701003a9008.vsidx
/.vs/D2DCloneStatus/FileContentIndex/eebec97f-3350-4573-b857-188328acbad7.vsidx
/.vs/D2DCloneStatus/FileContentIndex/read.lock
/.vs/D2DCloneStatus/v17/.suo
